---
title: Pagination
description: Help users navigate collections of numbered pages like search results
section: Components
aliases:
backlog_issue_id: 77
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Help users navigate collections of numbered pages like search results.

{{ example({group: "components", item: "pagination", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Use this component when you need to split a list of results across multiple
pages, for example because the full list would take too long to download on a
single page, or because the results further down the list are not needed by most
users.


## When not to use this component

Only break up lists into multiple pages if it improves the performance or
usability of your service.

Don't use this component to link together sections in a multi-page article.
Instead, use links named after the title of each section.

Avoid using 'infinite scroll' style pagination (where new content loads onto the
page as the user approaches the bottom), as it causes problems for keyboard
users.


## How it works

Add the pagination component below the main content of each page in the list of
results.

Don't show the pagination component if there's only one page of results.

If the URL of a specific results page is no longer valid, redirect users to the
first page.

Add the page number to the title of the page, so that people can see it in their
browser tabs or bookmarks. For example 'Search results (page 1 of 4)'.


### First and last pages

On the first page, don't show the link to a previous page.

{{ example({group: "components", item: "pagination", example: "first-page", html: true, nunjucks: true, open: false, size: "s"}) }}

On the last page, don't show the link to a next page.

{{ example({group: "components", item: "pagination", example: "last-page", html: true, nunjucks: true, open: false, size: "s"}) }}


### Long collections of pages

When there are 8 or more pages, truncate the list using 3 dots.

{{ example({group: "components", item: "pagination", example: "elipses", html: true, nunjucks: true, open: false, size: "s"}) }}

When truncating the list, follow these rules:

- always show the first, last and current page
- always show the page immediately before and after the current page
- replace any gaps of 2 or more pages between those pages with 3 dots

For example:

- **1** 2 … 1000
- 1 **2** 3 … 1000
- 1 2 **3** 4 … 1000
- 1 2 3 **4** 5 … 1000
- 1 … 4 **5** 6 … 1000
- 1 … 997 **998** 999 1000
- 1 … 998 **999** 1000
- 1 … 999 **1000**

### Showing the total number of results

If users need to know how many results there are (for example, so they can tell
how sucessful a search has been) you can add that information like this:

{{ example({group: "components", item: "pagination", example: "results", html: true, nunjucks: true, open: false, size: "s"}) }}

By default the items are called 'results', but change this if it makes more sense.

{{ example({group: "components", item: "pagination", example: "team-members", html: true, nunjucks: true, open: false, size: "s"}) }}


### Filtering and sorting lists

If the user filters or sorts the list, apply this to the whole list (not just the current page) and
redirect them back to the first page of the new results.

Set the number of items per page and the sorting algorithm so that most users
find what they need on the first page.


## Research on this component

This component is based on similar ones developed and used sucessfully by the
Ministry of Justice and the Home Office, and on feedback in the Design System
backlog.
