---
title: Pagination
description: Help users navigate collections of numbered pages like search results
section: Components
aliases:
backlog_issue_id: 77
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Help users navigate collections of numbered pages like search results.

{{ example({group: "components", item: "pagination", example: "default", html: true, nunjucks: true, open: false, size: "s"}) }}

## When to use this component

Use this component when you need to split a list of results across multiple
pages, for example because the full list would take too long to download on a
single page, or because the results further down the list are not needed by most
users.


## When not to use this component

Only break up lists into multiple pages if it improves the performance or
usability of your service.

Don't use this component to link together sections in a multi-page article.
Instead, use links named after the title of each section.

Avoid using 'infinite scroll' style pagination (where new content loads onto the
page as the user approaches the bottom), as it causes problems for keyboard
users.


## How it works

Add the pagination component below the main content of each page in the list of
results.

Don't show the pagination component if there's only one page of results.

If the URL of a specific results page is no longer valid, redirect users to the
first page.

Add the page number to the title of the page, so that people can see it in their
browser tabs or bookmarks. For example 'Search results (page 1 of 4)'.


### First and last pages

On the first page, don't show the link to a previous page.

{{ example({group: "components", item: "pagination", example: "first-page", html: true, nunjucks: true, open: false, size: "s"}) }}

On the last page, don't show the link to a next page.

{{ example({group: "components", item: "pagination", example: "last-page", html: true, nunjucks: true, open: false, size: "s"}) }}


### Long collections of pages

When there are 10 or more pages, truncate the list using ellipses.

{{ example({group: "components", item: "pagination", example: "elipses-2", html: true, nunjucks: true, open: false, size: "s"}) }}

In the middle of a long list, show the same number of links before and after the
current page. Always provide links to the first and last pages, so users can
easily see how many pages there are, and jump back to the first page in one
click.

{{ example({group: "components", item: "pagination", example: "elipses", html: true, nunjucks: true, open: false, size: "s"}) }}


### Showing the total number of results

Add information about the total number of results, but only if it's helpful -
for example, because it indicates how successful a search has been, or how
large the data set is.

{{ example({group: "components", item: "pagination", example: "results", html: true, nunjucks: true, open: false, size: "s"}) }}

By default the items are called 'results', but change this if it makes more sense.

{{ example({group: "components", item: "pagination", example: "team-members", html: true, nunjucks: true, open: false, size: "s"}) }}


### Filtering and sorting lists

If the user filters or sorts the list, apply this to the whole list (not just the current page) and
redirect them back to the first page of the new results.

Set the number of items per page and the sorting algorithm so that most users
find what they need on the first page.


## Research on this component

This component is based on similar ones developed and used sucessfully by the
Ministry of Justice and the Home Office, and on feedback in the Design System
backlog.
