---
title: First page
layout: layout-example.njk
---

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  "next": {
    "text": "Next page",
    "href": "#"
  },
  "items": [
    {
      "text": "1",
      "selected": true
    },
    {
      "text": "2",
      "href": "#"
    },
    {
      "text": "3",
      "href": "#"
    }
  ]
}) }}
