---
title: Ellipses
layout: layout-example.njk
---

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  "previous": {
    "href": "#"
  },
  "next": {
    "href": "#"
  },
  "items": [
    {
      "text": "1",
      "href": "#"
    },
    {
      "type": "ellipses"
    },
    {
      "text": "4",
      "href": "#"
    },
    {
      "text": "5",
      "href": "#"
    },
    {
      "text": "6",
      "current": true
    },
    {
      "text": "7",
      "href": "#"
    },
    {
      "text": "8",
      "href": "#"
    },
    {
      "type": "ellipses"
    },
    {
      "text": "1000",
      "href": "#"
    }
  ]
}) }}
