---
title: Pagination with number labels
layout: layout-example.njk
---

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  "classes": "govuk-pagination__list--block",
  "previous": {
    "text": "Previous page",
    "label": "1 of 3",
    "href": "#"
  },
  "next": {
    "text": "Next page",
    "label": "3 of 3",
    "href": "#"
  }
}) }}
