---
title: Team members
layout: layout-example.njk
---

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  "results": {
    "from": 20,
    "to": 40,
    "count": 60,
    "type": "team members"
  },
  "previous": {
    "text": "Previous page",
    "href": "#"
  },
  "next": {
    "text": "Next page",
    "href": "#"
  },
  "items": [
    {
      "text": "1",
      "href": "#"
    },
    {
      "text": "2",
      "selected": true
    },
    {
      "text": "3",
      "href": "#"
    }
  ]
}) }}
