---
title: Last page
layout: layout-example.njk
---

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  "previous": {
    "href": "#"
  },
  "items": [
    {
      "text": "1",
      "href": "#"
    },
    {
      "text": "2",
      "href": "#"
    },
    {
      "text": "3",
      "current": true
    }
  ]
}) }}
